/* ROOT */
:root {
    --prim-dark-cyan: hsl(158, 36%, 37%);
    --prim-very-dark-cyan: rgb(4, 70, 47);
    --prim-cream: hsl(30, 38%, 92%);
    --neutral-very-dark-blue: hsl(212, 21%, 14%);
    --neutral-dark-grayish-blue: hsl(228, 12%, 48%);
    --neutral-white: hsl(0, 0%, 100%);

    --ff-montserrat: "Montserrat", sans-serif;
    --ff-fraunces: "Fraunces", serif;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: var(--ff-montserrat);
    background-color: var(--prim-cream);
    color: var(--neutral-dark-grayish-blue);
}

/* GENERIC STYLES  */
.img-desktop {
  display: none;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
}

.product-review-card-container {
    background-color: var(--neutral-white);
    border-radius: 1em;
    overflow: hidden;
    /* this makes the image not covering the border radius */
    display: flex;
    width: 24.5em;
    height: 43em;
    flex-direction: column;
    align-items: center; 
    margin-top: 2em;
}

.product-image {
    width: 100%;
}

.img-mobile {
  width: 100%;
}

.product-text {
    padding: 0 1.1em;
    margin: 1em 1em;
}

.category h2 {
    font-size: 0.8em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    margin-bottom: 1em;
}

.product-name h1 {
    font-family: var(--ff-fraunces);
    font-weight: 700;
    font-size: 2.3em;
    color: var(--neutral-very-dark-blue);
    line-height: 1;  
    margin-bottom: 0.5em; 
}

.product-description {
    font-weight: 500;
    line-height: 1.7;
    margin-bottom: 1.5em;
}

.price {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.current-price  {
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-size: 2.0em;
    color: var(--prim-dark-cyan);
}

.original-price {
    font-weight: 500;
    text-decoration: line-through;
    margin-left: 1.5em;
}

.purchase-button {
    width: 100%;
    padding: 1em;
    cursor: pointer;
    border: none;
    background-color: var(--prim-dark-cyan);
    font-size: 1em;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.purchase-button:hover {
    background-color: var(--prim-very-dark-cyan);
}

.cart-text {
    color: var(--neutral-white);
    font-weight: 700;
    margin-left: 1em;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* MEDIA QUERIES */
@media screen and (min-width: 768px) { 
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;   
    }

    .product-review-card-container {
        width: 43em;
        height: 32em;
        flex-direction: row;
    }

    .split {
        flex-basis: 50%;
        height: 100%; 
    }

    .img-mobile {
        display: none;
    }

    .img-desktop {
        display: block;
        width: 100%;
        height: 100%;    
    }

    .product-text { 
        margin-left: 0;
        margin-right: 0;
        padding: 2em; 
    }

    .category {
        margin-top: 1em;
    }
    
    .category, .product-name, .product-description, .price  {
        margin-bottom: 1.5em;
    }

    
}

@media screen and (max-width: 350px) {
    .product-review-card-container {
        width: 90%;
    }
}